USE [master]
GO
/****** Object:  Database [HuvDB]    Script Date: 17.02.2026 10:47:06 ******/
CREATE DATABASE [HuvDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HuvDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\HuvDB.mdf' , SIZE = 204800KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HuvDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\HuvDB_log.ldf' , SIZE = 663552KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HuvDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HuvDB]
GO
/****** Object:  User [huv_api_user]    Script Date: 17.02.2026 10:47:06 ******/
CREATE USER [huv_api_user] FOR LOGIN [huv_api_user] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [HuvReader]    Script Date: 17.02.2026 10:47:06 ******/
CREATE ROLE [HuvReader]
GO
/****** Object:  DatabaseRole [HuvEditor]    Script Date: 17.02.2026 10:47:06 ******/
CREATE ROLE [HuvEditor]
GO
/****** Object:  DatabaseRole [HuvAdmin]    Script Date: 17.02.2026 10:47:06 ******/
CREATE ROLE [HuvAdmin]
GO
ALTER ROLE [HuvReader] ADD MEMBER [huv_api_user]
GO
ALTER ROLE [HuvEditor] ADD MEMBER [huv_api_user]
GO
ALTER ROLE [HuvAdmin] ADD MEMBER [huv_api_user]
GO
ALTER ROLE [db_owner] ADD MEMBER [huv_api_user]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [huv_api_user]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [huv_api_user]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [huv_api_user]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [huv_api_user]
GO
ALTER ROLE [db_datareader] ADD MEMBER [huv_api_user]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [huv_api_user]
GO
/****** Object:  Table [dbo].[SutHiyerarsi]    Script Date: 17.02.2026 10:47:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SutHiyerarsi](
	[HiyerarsiID] [int] IDENTITY(1,1) NOT NULL,
	[ParentID] [int] NULL,
	[SeviyeNo] [int] NOT NULL,
	[SeviyeAdi] [nvarchar](50) NULL,
	[Baslik] [nvarchar](max) NOT NULL,
	[SutKoduBaslangic] [nvarchar](100) NULL,
	[SutKoduBitis] [nvarchar](100) NULL,
	[Sira] [int] NULL,
	[AktifMi] [bit] NOT NULL,
	[OlusturmaTarihi] [datetime] NOT NULL,
 CONSTRAINT [PK_SutHiyerarsi] PRIMARY KEY CLUSTERED 
(
	[HiyerarsiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SutIslemler]    Script Date: 17.02.2026 10:47:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SutIslemler](
	[SutID] [int] IDENTITY(1,1) NOT NULL,
	[SutKodu] [nvarchar](50) NOT NULL,
	[IslemAdi] [nvarchar](max) NULL,
	[Puan] [float] NULL,
	[Aciklama] [nvarchar](max) NULL,
	[HiyerarsiID] [int] NULL,
	[AnaBaslikNo] [int] NULL,
	[ListeVersiyonID] [int] NULL,
	[AktifMi] [bit] NOT NULL,
	[OlusturmaTarihi] [datetime] NOT NULL,
	[GuncellemeTarihi] [datetime] NULL,
 CONSTRAINT [PK_SutIslemler] PRIMARY KEY CLUSTERED 
(
	[SutID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_SutIslemler_SutKodu] UNIQUE NONCLUSTERED 
(
	[SutKodu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_SutIslemDetay]    Script Date: 17.02.2026 10:47:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_SutIslemDetay]
AS
SELECT 
    s.SutID,
    s.SutKodu,
    s.IslemAdi,
    s.Puan,
    s.Aciklama,
    s.AnaBaslikNo,
    s.HiyerarsiID,
    h.Baslik as HiyerarsiAdi,
    h.ParentID,
    h.SeviyeNo as Seviye,
    s.AktifMi,
    s.OlusturmaTarihi,
    s.GuncellemeTarihi,
    -- Kategori bilgisi için geriye dönük uyumluluk (deprecated)
    s.HiyerarsiID as KategoriID,
    h.Baslik as KategoriAdi
FROM SutIslemler s
LEFT JOIN SutHiyerarsi h ON s.HiyerarsiID = h.HiyerarsiID
WHERE s.AktifMi = 1;
GO
/****** Object:  View [dbo].[vw_SutKategoriOzet]    Script Date: 17.02.2026 10:47:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_SutKategoriOzet]
AS
SELECT 
    h.HiyerarsiID as KategoriID,
    h.Baslik as KategoriAdi,
    h.ParentID,
    h.SeviyeNo as Seviye,
    h.Sira,
    COUNT(DISTINCT s.SutID) as IslemSayisi,
    MIN(s.Puan) as MinPuan,
    MAX(s.Puan) as MaxPuan,
    AVG(s.Puan) as OrtalamaPuan
FROM SutHiyerarsi h
LEFT JOIN SutIslemler s ON h.HiyerarsiID = s.HiyerarsiID AND s.AktifMi = 1
WHERE h.AktifMi = 1
GROUP BY h.HiyerarsiID, h.Baslik, h.ParentID, h.SeviyeNo, h.Sira;
GO
/****** Object:  Table [dbo].[HuvSutEslestirme]    Script Date: 17.02.2026 10:47:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HuvSutEslestirme](
	[EslestirmeID] [int] IDENTITY(1,1) NOT NULL,
	[IslemID] [int] NOT NULL,
	[SutID] [int] NOT NULL,
	[EslestirmeTipi] [nvarchar](50) NULL,
	[GuvenilirlikSkoru] [decimal](5, 2) NULL,
	[Aciklama] [nvarchar](500) NULL,
	[OlusturanKullanici] [nvarchar](100) NULL,
	[OlusturmaTarihi] [datetime] NULL,
	[OnaylayanKullanici] [nvarchar](100) NULL,
	[OnaylamaTarihi] [datetime] NULL,
	[AktifMi] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[EslestirmeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_HuvSut] UNIQUE NONCLUSTERED 
(
	[IslemID] ASC,
	[SutID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AnaDallar]    Script Date: 17.02.2026 10:47:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnaDallar](
	[AnaDalKodu] [int] NOT NULL,
	[BolumAdi] [nvarchar](200) NOT NULL,
	[OlusturmaTarihi] [datetime] NULL,
	[ToplamIslemSayisi] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AnaDalKodu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HuvIslemler]    Script Date: 17.02.2026 10:47:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HuvIslemler](
	[IslemID] [int] NOT NULL,
	[HuvKodu] [decimal](10, 5) NOT NULL,
	[AnaDalKodu] [int] NULL,
	[IslemAdi] [nvarchar](max) NULL,
	[Birim] [float] NULL,
	[SutKodu] [nvarchar](100) NULL,
	[UstBaslik] [nvarchar](max) NULL,
	[HiyerarsiSeviyesi] [int] NULL,
	[Not] [nvarchar](max) NULL,
	[GuncellemeTarihi] [nvarchar](50) NULL,
	[EklemeTarihi] [nvarchar](50) NULL,
	[GuncellemeTarihiDate] [date] NULL,
	[EklemeTarihiDate] [date] NULL,
	[ListeVersiyonID] [int] NULL,
	[ListeTipi] [nvarchar](50) NULL,
	[AktifMi] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IslemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_HuvSutEslestirmeOzet]    Script Date: 17.02.2026 10:47:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_HuvSutEslestirmeOzet]
AS
SELECT 
    e.EslestirmeID,
    e.IslemID,
    e.SutID,
    e.EslestirmeTipi,
    e.GuvenilirlikSkoru,
    e.Aciklama as EslestirmeAciklama,
    e.OnaylayanKullanici,
    e.OnaylamaTarihi,
    e.OlusturmaTarihi as EslestirmeOlusturmaTarihi,
    e.AktifMi,
    -- HUV Bilgileri
    h.HuvKodu,
    h.IslemAdi as HuvIslemAdi,
    h.Birim,
    h.AnaDalKodu,
    a.BolumAdi,
    -- SUT Bilgileri
    s.SutKodu,
    s.IslemAdi as SutIslemAdi,
    s.Puan,
    s.Aciklama as SutAciklama,
    s.AnaBaslikNo as SutAnaBaslikNo,
    s.HiyerarsiID,
    sh.Baslik as HiyerarsiAdi,
    -- Geriye dönük uyumluluk
    s.HiyerarsiID as SutKategoriID,
    sh.Baslik as SutKategoriAdi
FROM HuvSutEslestirme e
INNER JOIN HuvIslemler h ON e.IslemID = h.IslemID
INNER JOIN SutIslemler s ON e.SutID = s.SutID
LEFT JOIN AnaDallar a ON h.AnaDalKodu = a.AnaDalKodu
LEFT JOIN SutHiyerarsi sh ON s.HiyerarsiID = sh.HiyerarsiID;
GO
/****** Object:  Table [dbo].[SutAnaBasliklar]    Script Date: 17.02.2026 10:47:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SutAnaBasliklar](
	[AnaBaslikNo] [int] NOT NULL,
	[AnaBaslikAdi] [nvarchar](500) NOT NULL,
	[Aciklama] [nvarchar](max) NULL,
	[HiyerarsiID] [int] NULL,
	[Sira] [int] NULL,
	[ToplamIslemSayisi] [int] NULL,
	[AktifMi] [bit] NOT NULL,
	[OlusturmaTarihi] [datetime] NOT NULL,
 CONSTRAINT [PK_SutAnaBasliklar] PRIMARY KEY CLUSTERED 
(
	[AnaBaslikNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_SutAnaBaslikOzet]    Script Date: 17.02.2026 10:47:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Yeni view'ı oluştur (SutAnaBasliklar tablosunu kullanarak)
CREATE VIEW [dbo].[vw_SutAnaBaslikOzet]
AS
SELECT 
    ab.AnaBaslikNo,
    ab.AnaBaslikAdi,
    ab.Aciklama,
    ISNULL(ab.Sira, ab.AnaBaslikNo) as Sira,
    ab.AktifMi,
    ab.OlusturmaTarihi,
    -- İşlem istatistikleri (SutIslemler'den hesapla)
    COUNT(DISTINCT s.SutID) as IslemSayisi,
    COUNT(DISTINCT s.HiyerarsiID) as HiyerarsiSayisi,
    ISNULL(MIN(s.Puan), 0) as MinPuan,
    ISNULL(MAX(s.Puan), 0) as MaxPuan,
    ISNULL(AVG(s.Puan), 0) as OrtalamaPuan,
    SUM(CASE WHEN s.Puan > 0 THEN 1 ELSE 0 END) as PuanliIslemSayisi
FROM SutAnaBasliklar ab
LEFT JOIN SutIslemler s ON ab.AnaBaslikNo = s.AnaBaslikNo AND s.AktifMi = 1
WHERE ab.AktifMi = 1
GROUP BY 
    ab.AnaBaslikNo, ab.AnaBaslikAdi, ab.Aciklama, ab.Sira, 
    ab.AktifMi, ab.OlusturmaTarihi;
GO
/****** Object:  Table [dbo].[IlKatsayilari]    Script Date: 17.02.2026 10:47:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IlKatsayilari](
	[IlKatsayiID] [int] IDENTITY(1,1) NOT NULL,
	[IlAdi] [nvarchar](100) NOT NULL,
	[PlakaKodu] [int] NULL,
	[Katsayi] [decimal](18, 2) NOT NULL,
	[DonemBaslangic] [date] NULL,
	[DonemBitis] [date] NULL,
	[AktifMi] [bit] NOT NULL,
	[OlusturmaTarihi] [datetime] NOT NULL,
	[GuncellemeTarihi] [datetime] NULL,
 CONSTRAINT [PK_IlKatsayilari] PRIMARY KEY CLUSTERED 
(
	[IlKatsayiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IlKatsayiVersionlar]    Script Date: 17.02.2026 10:47:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IlKatsayiVersionlar](
	[VersionID] [int] IDENTITY(1,1) NOT NULL,
	[IlKatsayiID] [int] NOT NULL,
	[IlAdi] [nvarchar](100) NOT NULL,
	[PlakaKodu] [int] NULL,
	[Katsayi] [decimal](18, 2) NOT NULL,
	[DonemBaslangic] [date] NULL,
	[DonemBitis] [date] NULL,
	[GecerlilikBaslangic] [date] NOT NULL,
	[GecerlilikBitis] [date] NULL,
	[AktifMi] [bit] NOT NULL,
	[ListeVersiyonID] [int] NULL,
	[DegisiklikSebebi] [nvarchar](500) NULL,
	[OlusturanKullanici] [nvarchar](100) NULL,
	[OlusturmaTarihi] [datetime] NOT NULL,
 CONSTRAINT [PK_IlKatsayiVersionlar] PRIMARY KEY CLUSTERED 
(
	[VersionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IslemAudit]    Script Date: 17.02.2026 10:47:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IslemAudit](
	[AuditID] [int] IDENTITY(1,1) NOT NULL,
	[IslemID] [int] NOT NULL,
	[IslemTipi] [nvarchar](20) NOT NULL,
	[HuvKodu] [float] NULL,
	[IslemAdi] [nvarchar](max) NULL,
	[EskiBirim] [float] NULL,
	[YeniBirim] [float] NULL,
	[DegisiklikTarihi] [datetime] NULL,
	[DegistirenKullanici] [nvarchar](100) NULL,
	[Aciklama] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[AuditID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IslemVersionlar]    Script Date: 17.02.2026 10:47:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IslemVersionlar](
	[VersionID] [int] IDENTITY(1,1) NOT NULL,
	[IslemID] [int] NOT NULL,
	[HuvKodu] [decimal](10, 5) NOT NULL,
	[IslemAdi] [nvarchar](max) NULL,
	[Birim] [float] NULL,
	[SutKodu] [nvarchar](100) NULL,
	[Not] [nvarchar](max) NULL,
	[GecerlilikBaslangic] [date] NOT NULL,
	[GecerlilikBitis] [date] NULL,
	[AktifMi] [bit] NULL,
	[OlusturanKullanici] [nvarchar](100) NULL,
	[OlusturmaTarihi] [datetime] NULL,
	[DegisiklikSebebi] [nvarchar](500) NULL,
	[ListeVersiyonID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[VersionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListeVersiyon]    Script Date: 17.02.2026 10:47:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListeVersiyon](
	[VersionID] [int] IDENTITY(1,1) NOT NULL,
	[ListeTipi] [nvarchar](50) NOT NULL,
	[YuklemeTarihi] [date] NOT NULL,
	[DosyaAdi] [nvarchar](255) NULL,
	[KayitSayisi] [int] NULL,
	[Aciklama] [nvarchar](500) NULL,
	[YukleyenKullanici] [nvarchar](100) NULL,
	[OlusturmaTarihi] [datetime] NOT NULL,
	[EklenenSayisi] [int] NULL,
	[GuncellenenSayisi] [int] NULL,
	[SilinenSayisi] [int] NULL,
 CONSTRAINT [PK_ListeVersiyon] PRIMARY KEY CLUSTERED 
(
	[VersionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SutIslemVersionlar]    Script Date: 17.02.2026 10:47:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SutIslemVersionlar](
	[SutVersionID] [int] IDENTITY(1,1) NOT NULL,
	[SutID] [int] NOT NULL,
	[SutKodu] [nvarchar](50) NOT NULL,
	[IslemAdi] [nvarchar](max) NULL,
	[Puan] [float] NULL,
	[Aciklama] [nvarchar](max) NULL,
	[AnaBaslikNo] [int] NULL,
	[HiyerarsiID] [int] NULL,
	[GecerlilikBaslangic] [date] NOT NULL,
	[GecerlilikBitis] [date] NULL,
	[AktifMi] [bit] NOT NULL,
	[ListeVersiyonID] [int] NULL,
	[DegisiklikSebebi] [nvarchar](500) NULL,
	[OlusturanKullanici] [nvarchar](100) NULL,
	[OlusturmaTarihi] [datetime] NOT NULL,
 CONSTRAINT [PK_SutIslemVersionlar] PRIMARY KEY CLUSTERED 
(
	[SutVersionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_HuvIslemler_AktifMi]    Script Date: 17.02.2026 10:47:06 ******/
CREATE NONCLUSTERED INDEX [IX_HuvIslemler_AktifMi] ON [dbo].[HuvIslemler]
(
	[AktifMi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HuvIslemler_AnaDalKodu]    Script Date: 17.02.2026 10:47:06 ******/
CREATE NONCLUSTERED INDEX [IX_HuvIslemler_AnaDalKodu] ON [dbo].[HuvIslemler]
(
	[AnaDalKodu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HuvIslemler_Birim]    Script Date: 17.02.2026 10:47:06 ******/
CREATE NONCLUSTERED INDEX [IX_HuvIslemler_Birim] ON [dbo].[HuvIslemler]
(
	[Birim] ASC
)
WHERE ([Birim] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HuvIslemler_EklemeTarihiDate]    Script Date: 17.02.2026 10:47:06 ******/
CREATE NONCLUSTERED INDEX [IX_HuvIslemler_EklemeTarihiDate] ON [dbo].[HuvIslemler]
(
	[EklemeTarihiDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_HuvIslemler_GuncellemeTarihi]    Script Date: 17.02.2026 10:47:06 ******/
CREATE NONCLUSTERED INDEX [IX_HuvIslemler_GuncellemeTarihi] ON [dbo].[HuvIslemler]
(
	[GuncellemeTarihi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HuvIslemler_HuvKodu]    Script Date: 17.02.2026 10:47:06 ******/
CREATE NONCLUSTERED INDEX [IX_HuvIslemler_HuvKodu] ON [dbo].[HuvIslemler]
(
	[HuvKodu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_HuvIslemler_ListeTipi]    Script Date: 17.02.2026 10:47:06 ******/
CREATE NONCLUSTERED INDEX [IX_HuvIslemler_ListeTipi] ON [dbo].[HuvIslemler]
(
	[ListeTipi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HuvIslemler_ListeVersiyonID]    Script Date: 17.02.2026 10:47:06 ******/
CREATE NONCLUSTERED INDEX [IX_HuvIslemler_ListeVersiyonID] ON [dbo].[HuvIslemler]
(
	[ListeVersiyonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_HuvSutEslestirme_EslestirmeTipi]    Script Date: 17.02.2026 10:47:06 ******/
CREATE NONCLUSTERED INDEX [IX_HuvSutEslestirme_EslestirmeTipi] ON [dbo].[HuvSutEslestirme]
(
	[EslestirmeTipi] ASC
)
WHERE ([AktifMi]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HuvSutEslestirme_IslemID]    Script Date: 17.02.2026 10:47:06 ******/
CREATE NONCLUSTERED INDEX [IX_HuvSutEslestirme_IslemID] ON [dbo].[HuvSutEslestirme]
(
	[IslemID] ASC
)
WHERE ([AktifMi]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HuvSutEslestirme_SutID]    Script Date: 17.02.2026 10:47:06 ******/
CREATE NONCLUSTERED INDEX [IX_HuvSutEslestirme_SutID] ON [dbo].[HuvSutEslestirme]
(
	[SutID] ASC
)
WHERE ([AktifMi]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_IlKatsayilari_IlAdi_Aktif]    Script Date: 17.02.2026 10:47:06 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_IlKatsayilari_IlAdi_Aktif] ON [dbo].[IlKatsayilari]
(
	[IlAdi] ASC
)
WHERE ([AktifMi]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_IlKatsayiVersionlar_Aktif]    Script Date: 17.02.2026 10:47:06 ******/
CREATE NONCLUSTERED INDEX [IX_IlKatsayiVersionlar_Aktif] ON [dbo].[IlKatsayiVersionlar]
(
	[IlKatsayiID] ASC,
	[AktifMi] ASC,
	[GecerlilikBitis] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_IlKatsayiVersionlar_ListeVersiyonID]    Script Date: 17.02.2026 10:47:06 ******/
CREATE NONCLUSTERED INDEX [IX_IlKatsayiVersionlar_ListeVersiyonID] ON [dbo].[IlKatsayiVersionlar]
(
	[ListeVersiyonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_IslemAudit_DegisiklikTarihi]    Script Date: 17.02.2026 10:47:06 ******/
CREATE NONCLUSTERED INDEX [IX_IslemAudit_DegisiklikTarihi] ON [dbo].[IslemAudit]
(
	[DegisiklikTarihi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_IslemAudit_IslemID]    Script Date: 17.02.2026 10:47:06 ******/
CREATE NONCLUSTERED INDEX [IX_IslemAudit_IslemID] ON [dbo].[IslemAudit]
(
	[IslemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_IslemAudit_IslemTipi]    Script Date: 17.02.2026 10:47:06 ******/
CREATE NONCLUSTERED INDEX [IX_IslemAudit_IslemTipi] ON [dbo].[IslemAudit]
(
	[IslemTipi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_IslemVersionlar_AktifMi]    Script Date: 17.02.2026 10:47:06 ******/
CREATE NONCLUSTERED INDEX [IX_IslemVersionlar_AktifMi] ON [dbo].[IslemVersionlar]
(
	[AktifMi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_IslemVersionlar_GecerlilikBaslangic]    Script Date: 17.02.2026 10:47:06 ******/
CREATE NONCLUSTERED INDEX [IX_IslemVersionlar_GecerlilikBaslangic] ON [dbo].[IslemVersionlar]
(
	[GecerlilikBaslangic] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_IslemVersionlar_HuvKodu]    Script Date: 17.02.2026 10:47:06 ******/
CREATE NONCLUSTERED INDEX [IX_IslemVersionlar_HuvKodu] ON [dbo].[IslemVersionlar]
(
	[HuvKodu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_IslemVersionlar_IslemID]    Script Date: 17.02.2026 10:47:06 ******/
CREATE NONCLUSTERED INDEX [IX_IslemVersionlar_IslemID] ON [dbo].[IslemVersionlar]
(
	[IslemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_IslemVersionlar_IslemID_Aktif]    Script Date: 17.02.2026 10:47:06 ******/
CREATE NONCLUSTERED INDEX [IX_IslemVersionlar_IslemID_Aktif] ON [dbo].[IslemVersionlar]
(
	[IslemID] ASC,
	[AktifMi] ASC
)
INCLUDE([GecerlilikBaslangic],[GecerlilikBitis]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_IslemVersionlar_ListeVersiyonID]    Script Date: 17.02.2026 10:47:06 ******/
CREATE NONCLUSTERED INDEX [IX_IslemVersionlar_ListeVersiyonID] ON [dbo].[IslemVersionlar]
(
	[ListeVersiyonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ListeVersiyon_ListeTipi]    Script Date: 17.02.2026 10:47:06 ******/
CREATE NONCLUSTERED INDEX [IX_ListeVersiyon_ListeTipi] ON [dbo].[ListeVersiyon]
(
	[ListeTipi] ASC
)
INCLUDE([YuklemeTarihi]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ListeVersiyon_YuklemeTarihi]    Script Date: 17.02.2026 10:47:06 ******/
CREATE NONCLUSTERED INDEX [IX_ListeVersiyon_YuklemeTarihi] ON [dbo].[ListeVersiyon]
(
	[YuklemeTarihi] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SutAnaBasliklar_AktifMi]    Script Date: 17.02.2026 10:47:06 ******/
CREATE NONCLUSTERED INDEX [IX_SutAnaBasliklar_AktifMi] ON [dbo].[SutAnaBasliklar]
(
	[AktifMi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SutAnaBasliklar_HiyerarsiID]    Script Date: 17.02.2026 10:47:06 ******/
CREATE NONCLUSTERED INDEX [IX_SutAnaBasliklar_HiyerarsiID] ON [dbo].[SutAnaBasliklar]
(
	[HiyerarsiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SutAnaBasliklar_Sira]    Script Date: 17.02.2026 10:47:06 ******/
CREATE NONCLUSTERED INDEX [IX_SutAnaBasliklar_Sira] ON [dbo].[SutAnaBasliklar]
(
	[Sira] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SutHiyerarsi_AktifMi]    Script Date: 17.02.2026 10:47:06 ******/
CREATE NONCLUSTERED INDEX [IX_SutHiyerarsi_AktifMi] ON [dbo].[SutHiyerarsi]
(
	[AktifMi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SutHiyerarsi_ParentID]    Script Date: 17.02.2026 10:47:06 ******/
CREATE NONCLUSTERED INDEX [IX_SutHiyerarsi_ParentID] ON [dbo].[SutHiyerarsi]
(
	[ParentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SutHiyerarsi_SeviyeNo]    Script Date: 17.02.2026 10:47:06 ******/
CREATE NONCLUSTERED INDEX [IX_SutHiyerarsi_SeviyeNo] ON [dbo].[SutHiyerarsi]
(
	[SeviyeNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SutHiyerarsi_Sira]    Script Date: 17.02.2026 10:47:06 ******/
CREATE NONCLUSTERED INDEX [IX_SutHiyerarsi_Sira] ON [dbo].[SutHiyerarsi]
(
	[Sira] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SutIslemler_AktifMi]    Script Date: 17.02.2026 10:47:06 ******/
CREATE NONCLUSTERED INDEX [IX_SutIslemler_AktifMi] ON [dbo].[SutIslemler]
(
	[AktifMi] ASC
)
INCLUDE([SutKodu],[IslemAdi],[Puan]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SutIslemler_AnaBaslikNo]    Script Date: 17.02.2026 10:47:06 ******/
CREATE NONCLUSTERED INDEX [IX_SutIslemler_AnaBaslikNo] ON [dbo].[SutIslemler]
(
	[AnaBaslikNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SutIslemler_HiyerarsiID]    Script Date: 17.02.2026 10:47:06 ******/
CREATE NONCLUSTERED INDEX [IX_SutIslemler_HiyerarsiID] ON [dbo].[SutIslemler]
(
	[HiyerarsiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SutIslemler_ListeVersiyonID]    Script Date: 17.02.2026 10:47:06 ******/
CREATE NONCLUSTERED INDEX [IX_SutIslemler_ListeVersiyonID] ON [dbo].[SutIslemler]
(
	[ListeVersiyonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SutIslemler_SutKodu]    Script Date: 17.02.2026 10:47:06 ******/
CREATE NONCLUSTERED INDEX [IX_SutIslemler_SutKodu] ON [dbo].[SutIslemler]
(
	[SutKodu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SutIslemVersionlar_ListeVersiyonID]    Script Date: 17.02.2026 10:47:06 ******/
CREATE NONCLUSTERED INDEX [IX_SutIslemVersionlar_ListeVersiyonID] ON [dbo].[SutIslemVersionlar]
(
	[ListeVersiyonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SutIslemVersionlar_SutID_Aktif]    Script Date: 17.02.2026 10:47:06 ******/
CREATE NONCLUSTERED INDEX [IX_SutIslemVersionlar_SutID_Aktif] ON [dbo].[SutIslemVersionlar]
(
	[SutID] ASC,
	[AktifMi] ASC
)
INCLUDE([GecerlilikBaslangic],[GecerlilikBitis]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SutIslemVersionlar_SutID_Tarih]    Script Date: 17.02.2026 10:47:06 ******/
CREATE NONCLUSTERED INDEX [IX_SutIslemVersionlar_SutID_Tarih] ON [dbo].[SutIslemVersionlar]
(
	[SutID] ASC,
	[GecerlilikBaslangic] ASC,
	[GecerlilikBitis] ASC
)
INCLUDE([Puan],[IslemAdi],[DegisiklikSebebi]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SutIslemVersionlar_SutKodu]    Script Date: 17.02.2026 10:47:06 ******/
CREATE NONCLUSTERED INDEX [IX_SutIslemVersionlar_SutKodu] ON [dbo].[SutIslemVersionlar]
(
	[SutKodu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SutIslemVersionlar_SutKodu_Tarih]    Script Date: 17.02.2026 10:47:06 ******/
CREATE NONCLUSTERED INDEX [IX_SutIslemVersionlar_SutKodu_Tarih] ON [dbo].[SutIslemVersionlar]
(
	[SutKodu] ASC,
	[GecerlilikBaslangic] ASC,
	[GecerlilikBitis] ASC
)
INCLUDE([SutID],[Puan],[IslemAdi]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SutIslemVersionlar_Tarih]    Script Date: 17.02.2026 10:47:06 ******/
CREATE NONCLUSTERED INDEX [IX_SutIslemVersionlar_Tarih] ON [dbo].[SutIslemVersionlar]
(
	[GecerlilikBaslangic] ASC,
	[GecerlilikBitis] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AnaDallar] ADD  DEFAULT (getdate()) FOR [OlusturmaTarihi]
GO
ALTER TABLE [dbo].[HuvIslemler] ADD  DEFAULT ('HUV') FOR [ListeTipi]
GO
ALTER TABLE [dbo].[HuvIslemler] ADD  DEFAULT ((1)) FOR [AktifMi]
GO
ALTER TABLE [dbo].[HuvSutEslestirme] ADD  DEFAULT (suser_sname()) FOR [OlusturanKullanici]
GO
ALTER TABLE [dbo].[HuvSutEslestirme] ADD  DEFAULT (getdate()) FOR [OlusturmaTarihi]
GO
ALTER TABLE [dbo].[HuvSutEslestirme] ADD  DEFAULT ((1)) FOR [AktifMi]
GO
ALTER TABLE [dbo].[IlKatsayilari] ADD  DEFAULT ((1)) FOR [AktifMi]
GO
ALTER TABLE [dbo].[IlKatsayilari] ADD  DEFAULT (getdate()) FOR [OlusturmaTarihi]
GO
ALTER TABLE [dbo].[IlKatsayiVersionlar] ADD  DEFAULT (getdate()) FOR [OlusturmaTarihi]
GO
ALTER TABLE [dbo].[IslemAudit] ADD  DEFAULT (getdate()) FOR [DegisiklikTarihi]
GO
ALTER TABLE [dbo].[IslemAudit] ADD  DEFAULT (suser_sname()) FOR [DegistirenKullanici]
GO
ALTER TABLE [dbo].[IslemVersionlar] ADD  DEFAULT ((1)) FOR [AktifMi]
GO
ALTER TABLE [dbo].[IslemVersionlar] ADD  DEFAULT (suser_sname()) FOR [OlusturanKullanici]
GO
ALTER TABLE [dbo].[IslemVersionlar] ADD  DEFAULT (getdate()) FOR [OlusturmaTarihi]
GO
ALTER TABLE [dbo].[ListeVersiyon] ADD  DEFAULT ('HUV') FOR [ListeTipi]
GO
ALTER TABLE [dbo].[ListeVersiyon] ADD  DEFAULT (getdate()) FOR [OlusturmaTarihi]
GO
ALTER TABLE [dbo].[SutAnaBasliklar] ADD  DEFAULT ((1)) FOR [AktifMi]
GO
ALTER TABLE [dbo].[SutAnaBasliklar] ADD  DEFAULT (getdate()) FOR [OlusturmaTarihi]
GO
ALTER TABLE [dbo].[SutHiyerarsi] ADD  DEFAULT ((1)) FOR [AktifMi]
GO
ALTER TABLE [dbo].[SutHiyerarsi] ADD  DEFAULT (getdate()) FOR [OlusturmaTarihi]
GO
ALTER TABLE [dbo].[SutIslemler] ADD  DEFAULT ((1)) FOR [AktifMi]
GO
ALTER TABLE [dbo].[SutIslemler] ADD  DEFAULT (getdate()) FOR [OlusturmaTarihi]
GO
ALTER TABLE [dbo].[SutIslemVersionlar] ADD  DEFAULT ((1)) FOR [AktifMi]
GO
ALTER TABLE [dbo].[SutIslemVersionlar] ADD  DEFAULT (getdate()) FOR [OlusturmaTarihi]
GO
ALTER TABLE [dbo].[HuvIslemler]  WITH NOCHECK ADD FOREIGN KEY([AnaDalKodu])
REFERENCES [dbo].[AnaDallar] ([AnaDalKodu])
GO
ALTER TABLE [dbo].[HuvIslemler]  WITH CHECK ADD  CONSTRAINT [FK_HuvIslemler_AnaDallar] FOREIGN KEY([AnaDalKodu])
REFERENCES [dbo].[AnaDallar] ([AnaDalKodu])
GO
ALTER TABLE [dbo].[HuvIslemler] CHECK CONSTRAINT [FK_HuvIslemler_AnaDallar]
GO
ALTER TABLE [dbo].[HuvIslemler]  WITH CHECK ADD  CONSTRAINT [FK_HuvIslemler_ListeVersiyon] FOREIGN KEY([ListeVersiyonID])
REFERENCES [dbo].[ListeVersiyon] ([VersionID])
GO
ALTER TABLE [dbo].[HuvIslemler] CHECK CONSTRAINT [FK_HuvIslemler_ListeVersiyon]
GO
ALTER TABLE [dbo].[HuvSutEslestirme]  WITH CHECK ADD  CONSTRAINT [FK_HuvSutEslestirme_HuvIslemler] FOREIGN KEY([IslemID])
REFERENCES [dbo].[HuvIslemler] ([IslemID])
GO
ALTER TABLE [dbo].[HuvSutEslestirme] CHECK CONSTRAINT [FK_HuvSutEslestirme_HuvIslemler]
GO
ALTER TABLE [dbo].[IlKatsayiVersionlar]  WITH CHECK ADD  CONSTRAINT [FK_IlKatsayiVersionlar_IlKatsayilari] FOREIGN KEY([IlKatsayiID])
REFERENCES [dbo].[IlKatsayilari] ([IlKatsayiID])
GO
ALTER TABLE [dbo].[IlKatsayiVersionlar] CHECK CONSTRAINT [FK_IlKatsayiVersionlar_IlKatsayilari]
GO
ALTER TABLE [dbo].[IlKatsayiVersionlar]  WITH CHECK ADD  CONSTRAINT [FK_IlKatsayiVersionlar_ListeVersiyon] FOREIGN KEY([ListeVersiyonID])
REFERENCES [dbo].[ListeVersiyon] ([VersionID])
GO
ALTER TABLE [dbo].[IlKatsayiVersionlar] CHECK CONSTRAINT [FK_IlKatsayiVersionlar_ListeVersiyon]
GO
ALTER TABLE [dbo].[IslemVersionlar]  WITH NOCHECK ADD FOREIGN KEY([IslemID])
REFERENCES [dbo].[HuvIslemler] ([IslemID])
GO
ALTER TABLE [dbo].[IslemVersionlar]  WITH CHECK ADD  CONSTRAINT [FK_IslemVersionlar_HuvIslemler] FOREIGN KEY([IslemID])
REFERENCES [dbo].[HuvIslemler] ([IslemID])
GO
ALTER TABLE [dbo].[IslemVersionlar] CHECK CONSTRAINT [FK_IslemVersionlar_HuvIslemler]
GO
ALTER TABLE [dbo].[IslemVersionlar]  WITH CHECK ADD  CONSTRAINT [FK_IslemVersionlar_ListeVersiyon] FOREIGN KEY([ListeVersiyonID])
REFERENCES [dbo].[ListeVersiyon] ([VersionID])
GO
ALTER TABLE [dbo].[IslemVersionlar] CHECK CONSTRAINT [FK_IslemVersionlar_ListeVersiyon]
GO
ALTER TABLE [dbo].[SutAnaBasliklar]  WITH CHECK ADD  CONSTRAINT [FK_SutAnaBasliklar_Hiyerarsi] FOREIGN KEY([HiyerarsiID])
REFERENCES [dbo].[SutHiyerarsi] ([HiyerarsiID])
GO
ALTER TABLE [dbo].[SutAnaBasliklar] CHECK CONSTRAINT [FK_SutAnaBasliklar_Hiyerarsi]
GO
ALTER TABLE [dbo].[SutHiyerarsi]  WITH CHECK ADD  CONSTRAINT [FK_SutHiyerarsi_Parent] FOREIGN KEY([ParentID])
REFERENCES [dbo].[SutHiyerarsi] ([HiyerarsiID])
GO
ALTER TABLE [dbo].[SutHiyerarsi] CHECK CONSTRAINT [FK_SutHiyerarsi_Parent]
GO
ALTER TABLE [dbo].[SutIslemler]  WITH CHECK ADD  CONSTRAINT [FK_SutIslemler_AnaBaslik] FOREIGN KEY([AnaBaslikNo])
REFERENCES [dbo].[SutAnaBasliklar] ([AnaBaslikNo])
GO
ALTER TABLE [dbo].[SutIslemler] CHECK CONSTRAINT [FK_SutIslemler_AnaBaslik]
GO
ALTER TABLE [dbo].[SutIslemler]  WITH CHECK ADD  CONSTRAINT [FK_SutIslemler_Hiyerarsi] FOREIGN KEY([HiyerarsiID])
REFERENCES [dbo].[SutHiyerarsi] ([HiyerarsiID])
GO
ALTER TABLE [dbo].[SutIslemler] CHECK CONSTRAINT [FK_SutIslemler_Hiyerarsi]
GO
ALTER TABLE [dbo].[SutIslemler]  WITH CHECK ADD  CONSTRAINT [FK_SutIslemler_ListeVersiyon] FOREIGN KEY([ListeVersiyonID])
REFERENCES [dbo].[ListeVersiyon] ([VersionID])
GO
ALTER TABLE [dbo].[SutIslemler] CHECK CONSTRAINT [FK_SutIslemler_ListeVersiyon]
GO
ALTER TABLE [dbo].[SutIslemler]  WITH CHECK ADD  CONSTRAINT [FK_SutIslemler_SutAnaBasliklar] FOREIGN KEY([AnaBaslikNo])
REFERENCES [dbo].[SutAnaBasliklar] ([AnaBaslikNo])
GO
ALTER TABLE [dbo].[SutIslemler] CHECK CONSTRAINT [FK_SutIslemler_SutAnaBasliklar]
GO
ALTER TABLE [dbo].[SutIslemler]  WITH CHECK ADD  CONSTRAINT [FK_SutIslemler_SutHiyerarsi] FOREIGN KEY([HiyerarsiID])
REFERENCES [dbo].[SutHiyerarsi] ([HiyerarsiID])
GO
ALTER TABLE [dbo].[SutIslemler] CHECK CONSTRAINT [FK_SutIslemler_SutHiyerarsi]
GO
ALTER TABLE [dbo].[SutIslemVersionlar]  WITH CHECK ADD  CONSTRAINT [FK_SutIslemVersionlar_ListeVersiyon] FOREIGN KEY([ListeVersiyonID])
REFERENCES [dbo].[ListeVersiyon] ([VersionID])
GO
ALTER TABLE [dbo].[SutIslemVersionlar] CHECK CONSTRAINT [FK_SutIslemVersionlar_ListeVersiyon]
GO
ALTER TABLE [dbo].[SutIslemVersionlar]  WITH CHECK ADD  CONSTRAINT [FK_SutIslemVersionlar_SutAnaBasliklar] FOREIGN KEY([AnaBaslikNo])
REFERENCES [dbo].[SutAnaBasliklar] ([AnaBaslikNo])
GO
ALTER TABLE [dbo].[SutIslemVersionlar] CHECK CONSTRAINT [FK_SutIslemVersionlar_SutAnaBasliklar]
GO
ALTER TABLE [dbo].[SutIslemVersionlar]  WITH CHECK ADD  CONSTRAINT [FK_SutIslemVersionlar_SutHiyerarsi] FOREIGN KEY([HiyerarsiID])
REFERENCES [dbo].[SutHiyerarsi] ([HiyerarsiID])
GO
ALTER TABLE [dbo].[SutIslemVersionlar] CHECK CONSTRAINT [FK_SutIslemVersionlar_SutHiyerarsi]
GO
ALTER TABLE [dbo].[SutIslemVersionlar]  WITH CHECK ADD  CONSTRAINT [FK_SutIslemVersionlar_SutIslemler] FOREIGN KEY([SutID])
REFERENCES [dbo].[SutIslemler] ([SutID])
GO
ALTER TABLE [dbo].[SutIslemVersionlar] CHECK CONSTRAINT [FK_SutIslemVersionlar_SutIslemler]
GO
ALTER TABLE [dbo].[AnaDallar]  WITH CHECK ADD  CONSTRAINT [CHK_AnaDallar_ToplamIslemSayisi] CHECK  (([ToplamIslemSayisi]>=(0)))
GO
ALTER TABLE [dbo].[AnaDallar] CHECK CONSTRAINT [CHK_AnaDallar_ToplamIslemSayisi]
GO
ALTER TABLE [dbo].[HuvIslemler]  WITH NOCHECK ADD  CONSTRAINT [CHK_Islemler_Birim_Pozitif] CHECK  (([Birim] IS NULL OR [Birim]>=(0)))
GO
ALTER TABLE [dbo].[HuvIslemler] CHECK CONSTRAINT [CHK_Islemler_Birim_Pozitif]
GO
ALTER TABLE [dbo].[HuvIslemler]  WITH NOCHECK ADD  CONSTRAINT [CHK_Islemler_HiyerarsiSeviyesi] CHECK  (([HiyerarsiSeviyesi]>=(0) AND [HiyerarsiSeviyesi]<=(10)))
GO
ALTER TABLE [dbo].[HuvIslemler] CHECK CONSTRAINT [CHK_Islemler_HiyerarsiSeviyesi]
GO
ALTER TABLE [dbo].[HuvIslemler]  WITH NOCHECK ADD  CONSTRAINT [CHK_Islemler_HuvKodu_Pozitif] CHECK  (([HuvKodu]>=(0)))
GO
ALTER TABLE [dbo].[HuvIslemler] CHECK CONSTRAINT [CHK_Islemler_HuvKodu_Pozitif]
GO
ALTER TABLE [dbo].[SutHiyerarsi]  WITH CHECK ADD  CONSTRAINT [CHK_SutHiyerarsi_SeviyeNo] CHECK  (([SeviyeNo]>=(0) AND [SeviyeNo]<=(20)))
GO
ALTER TABLE [dbo].[SutHiyerarsi] CHECK CONSTRAINT [CHK_SutHiyerarsi_SeviyeNo]
GO
ALTER TABLE [dbo].[SutIslemler]  WITH CHECK ADD  CONSTRAINT [CHK_SutIslemler_Puan_Pozitif] CHECK  (([Puan] IS NULL OR [Puan]>=(0)))
GO
ALTER TABLE [dbo].[SutIslemler] CHECK CONSTRAINT [CHK_SutIslemler_Puan_Pozitif]
GO
ALTER TABLE [dbo].[SutIslemler]  WITH CHECK ADD  CONSTRAINT [CHK_SutIslemler_SutKodu_NotEmpty] CHECK  ((len(ltrim(rtrim([SutKodu])))>(0)))
GO
ALTER TABLE [dbo].[SutIslemler] CHECK CONSTRAINT [CHK_SutIslemler_SutKodu_NotEmpty]
GO
/****** Object:  StoredProcedure [dbo].[sp_EnPahaliIslemler]    Script Date: 17.02.2026 10:47:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_EnPahaliIslemler]
    @TopN INT = 50,
    @AnaDalKodu INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT TOP (@TopN)
        i.IslemID,
        i.HuvKodu,
        i.IslemAdi,
        i.Birim,
        i.SutKodu,
        a.BolumAdi,
        ROW_NUMBER() OVER (ORDER BY i.Birim DESC) as Sira
    FROM Islemler i
    INNER JOIN AnaDallar a ON i.AnaDalKodu = a.AnaDalKodu
    WHERE i.Birim IS NOT NULL
      AND (@AnaDalKodu IS NULL OR i.AnaDalKodu = @AnaDalKodu)
    ORDER BY i.Birim DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EnUcuzIslemler]    Script Date: 17.02.2026 10:47:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_EnUcuzIslemler]
    @TopN INT = 50,
    @AnaDalKodu INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT TOP (@TopN)
        i.IslemID,
        i.HuvKodu,
        i.IslemAdi,
        i.Birim,
        i.SutKodu,
        a.BolumAdi,
        ROW_NUMBER() OVER (ORDER BY i.Birim ASC) as Sira
    FROM Islemler i
    INNER JOIN AnaDallar a ON i.AnaDalKodu = a.AnaDalKodu
    WHERE i.Birim IS NOT NULL
      AND i.Birim > 0
      AND (@AnaDalKodu IS NULL OR i.AnaDalKodu = @AnaDalKodu)
    ORDER BY i.Birim ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EslestirmeIstatistik]    Script Date: 17.02.2026 10:47:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[sp_EslestirmeIstatistik]
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Genel istatistikler
    SELECT 
        'GENEL' as Kategori,
        COUNT(*) as ToplamEslestirme,
        COUNT(DISTINCT IslemID) as EslestirilmisHuvSayisi,
        COUNT(DISTINCT SutID) as EslestirilmisSutSayisi,
        AVG(GuvenilirlikSkoru) as OrtalamaGuvenilirlik
    FROM HuvSutEslestirme
    WHERE AktifMi = 1
    
    UNION ALL
    
    -- EÅŸleÅŸtirme tiplerine gÃ¶re
    SELECT 
        EslestirmeTipi as Kategori,
        COUNT(*) as ToplamEslestirme,
        COUNT(DISTINCT IslemID) as EslestirilmisHuvSayisi,
        COUNT(DISTINCT SutID) as EslestirilmisSutSayisi,
        AVG(GuvenilirlikSkoru) as OrtalamaGuvenilirlik
    FROM HuvSutEslestirme
    WHERE AktifMi = 1
    GROUP BY EslestirmeTipi;
    
    -- EÅŸleÅŸtirilmemiÅŸ HUV kodlarÄ±
    SELECT 
        COUNT(*) as EslestirilmemisHuvSayisi
    FROM HuvIslemler i
    WHERE i.AktifMi = 1
      AND i.Birim IS NOT NULL
      AND NOT EXISTS (
          SELECT 1 FROM HuvSutEslestirme e 
          WHERE e.IslemID = i.IslemID AND e.AktifMi = 1
      );
    
    -- EÅŸleÅŸtirilmemiÅŸ SUT kodlarÄ±
    SELECT 
        COUNT(*) as EslestirilmemisSutSayisi
    FROM SutIslemler s
    WHERE s.AktifMi = 1
      AND NOT EXISTS (
          SELECT 1 FROM HuvSutEslestirme e 
          WHERE e.SutID = s.SutID AND e.AktifMi = 1
      );
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_FiyatDegisimRaporu]    Script Date: 17.02.2026 10:47:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_FiyatDegisimRaporu]
    @HuvKodu FLOAT = NULL,
    @IslemID INT = NULL,
    @BaslangicTarihi DATE = NULL,
    @BitisTarihi DATE = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    -- İşlem ID'yi belirle
    DECLARE @TargetIslemID INT;
    
    IF @IslemID IS NOT NULL
        SET @TargetIslemID = @IslemID;
    ELSE IF @HuvKodu IS NOT NULL
    BEGIN
        -- Önce aktif kayıttan bak, yoksa IslemVersionlar'dan al
        SELECT TOP 1 @TargetIslemID = IslemID 
        FROM HuvIslemler 
        WHERE HuvKodu = @HuvKodu;
        
        IF @TargetIslemID IS NULL
        BEGIN
            SELECT TOP 1 @TargetIslemID = IslemID
            FROM IslemVersionlar
            WHERE HuvKodu = @HuvKodu
            ORDER BY VersionID DESC;
        END
    END
    
    -- Result Set 1: İşlem Bilgisi (HuvIslemler'den veya IslemVersionlar'dan)
    SELECT 
        ISNULL(i.IslemID, v.IslemID) as IslemID,
        ISNULL(i.HuvKodu, v.HuvKodu) as HuvKodu,
        ISNULL(i.IslemAdi, v.IslemAdi) as IslemAdi,
        i.Birim as GuncelBirim,
        a.BolumAdi,
        ISNULL(i.AktifMi, 0) as AktifMi
    FROM (SELECT TOP 1 * FROM IslemVersionlar WHERE IslemID = @TargetIslemID ORDER BY VersionID DESC) v
    LEFT JOIN HuvIslemler i ON v.IslemID = i.IslemID
    LEFT JOIN AnaDallar a ON i.AnaDalKodu = a.AnaDalKodu;
    
    -- Result Set 2: Versiyonlar ve Fiyat Değişimleri
    SELECT 
        v.HuvKodu,
        v.IslemAdi,
        v.Birim,
        v.GecerlilikBaslangic,
        v.GecerlilikBitis,
        a.BolumAdi,
        v.DegisiklikSebebi,
        LAG(v.Birim) OVER (PARTITION BY v.IslemID ORDER BY v.GecerlilikBaslangic) as OncekiBirim,
        v.Birim - LAG(v.Birim) OVER (PARTITION BY v.IslemID ORDER BY v.GecerlilikBaslangic) as BirimDegisimi,
        CASE 
            WHEN LAG(v.Birim) OVER (PARTITION BY v.IslemID ORDER BY v.GecerlilikBaslangic) IS NOT NULL
            THEN ((v.Birim - LAG(v.Birim) OVER (PARTITION BY v.IslemID ORDER BY v.GecerlilikBaslangic)) / 
                  LAG(v.Birim) OVER (PARTITION BY v.IslemID ORDER BY v.GecerlilikBaslangic) * 100)
            ELSE NULL
        END as DegisimYuzdesi,
        v.ListeVersiyonID,
        lv.DosyaAdi as VersiyonDosyaAdi,
        v.VersionID
    FROM IslemVersionlar v
    LEFT JOIN HuvIslemler i ON v.IslemID = i.IslemID
    LEFT JOIN AnaDallar a ON i.AnaDalKodu = a.AnaDalKodu
    LEFT JOIN ListeVersiyon lv ON v.ListeVersiyonID = lv.VersionID
    WHERE v.IslemID = @TargetIslemID
      AND (@BaslangicTarihi IS NULL OR v.GecerlilikBaslangic >= @BaslangicTarihi)
      AND (@BitisTarihi IS NULL OR v.GecerlilikBaslangic <= @BitisTarihi)
    ORDER BY v.GecerlilikBaslangic DESC;
    
    -- Result Set 3: Audit Geçmişi
    SELECT 
        AuditID,
        IslemID,
        IslemTipi,
        HuvKodu,
        IslemAdi,
        EskiBirim,
        YeniBirim,
        DegisiklikTarihi,
        DegistirenKullanici,
        Aciklama
    FROM IslemAudit
    WHERE IslemID = @TargetIslemID
      AND (@BaslangicTarihi IS NULL OR DegisiklikTarihi >= @BaslangicTarihi)
      AND (@BitisTarihi IS NULL OR DegisiklikTarihi <= @BitisTarihi)
    ORDER BY DegisiklikTarihi DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_IslemAra]    Script Date: 17.02.2026 10:47:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_IslemAra]
    @AramaMetni NVARCHAR(200),
    @AnaDalKodu INT = NULL,
    @MinBirim FLOAT = NULL,
    @MaxBirim FLOAT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        IslemID,
        HuvKodu,
        IslemAdi,
        Birim,
        BolumAdi,
        SutKodu,
        HiyerarsiSeviyesi
    FROM vw_IslemArama
    WHERE 
        (@AramaMetni IS NULL OR AramaMetni LIKE '%' + @AramaMetni + '%')
        AND (@AnaDalKodu IS NULL OR HuvKodu >= @AnaDalKodu AND HuvKodu < @AnaDalKodu + 1)
        AND (@MinBirim IS NULL OR Birim >= @MinBirim)
        AND (@MaxBirim IS NULL OR Birim <= @MaxBirim)
    ORDER BY HuvKodu;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_IslemlerFiyatAralik]    Script Date: 17.02.2026 10:47:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_IslemlerFiyatAralik]
    @MinFiyat FLOAT = NULL,
    @MaxFiyat FLOAT = NULL,
    @AnaDalKodu INT = NULL,
    @Sayfa INT = 1,
    @SayfaBoyutu INT = 50
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @Offset INT = (@Sayfa - 1) * @SayfaBoyutu;
    
    -- Toplam kayıt sayısı
    SELECT COUNT(*) as ToplamKayit
    FROM Islemler i
    WHERE Birim IS NOT NULL
      AND (@MinFiyat IS NULL OR Birim >= @MinFiyat)
      AND (@MaxFiyat IS NULL OR Birim <= @MaxFiyat)
      AND (@AnaDalKodu IS NULL OR AnaDalKodu = @AnaDalKodu);
    
    -- Sayfalanmış sonuçlar
    SELECT 
        i.IslemID,
        i.HuvKodu,
        i.IslemAdi,
        i.Birim,
        i.SutKodu,
        i.GuncellemeTarihi,
        a.BolumAdi
    FROM Islemler i
    INNER JOIN AnaDallar a ON i.AnaDalKodu = a.AnaDalKodu
    WHERE Birim IS NOT NULL
      AND (@MinFiyat IS NULL OR Birim >= @MinFiyat)
      AND (@MaxFiyat IS NULL OR Birim <= @MaxFiyat)
      AND (@AnaDalKodu IS NULL OR i.AnaDalKodu = @AnaDalKodu)
    ORDER BY i.Birim DESC
    OFFSET @Offset ROWS
    FETCH NEXT @SayfaBoyutu ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_IslemlerHiyerarsi]    Script Date: 17.02.2026 10:47:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_IslemlerHiyerarsi]
    @HiyerarsiSeviyesi INT = NULL,
    @AnaDalKodu INT = NULL,
    @Sayfa INT = 1,
    @SayfaBoyutu INT = 50
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @Offset INT = (@Sayfa - 1) * @SayfaBoyutu;
    
    SELECT COUNT(*) as ToplamKayit
    FROM Islemler i
    WHERE (@HiyerarsiSeviyesi IS NULL OR HiyerarsiSeviyesi = @HiyerarsiSeviyesi)
      AND (@AnaDalKodu IS NULL OR AnaDalKodu = @AnaDalKodu);
    
    SELECT 
        i.IslemID,
        i.HuvKodu,
        i.IslemAdi,
        i.Birim,
        i.HiyerarsiSeviyesi,
        i.UstBaslik,
        a.BolumAdi,
        CASE 
            WHEN i.HiyerarsiSeviyesi = 0 THEN 'Ana Başlık'
            WHEN i.HiyerarsiSeviyesi = 1 THEN 'Kategori'
            WHEN i.HiyerarsiSeviyesi = 2 THEN 'Alt Kategori'
            WHEN i.HiyerarsiSeviyesi = 3 THEN 'İşlem'
            ELSE 'Detay İşlem'
        END as SeviyeTipi
    FROM Islemler i
    INNER JOIN AnaDallar a ON i.AnaDalKodu = a.AnaDalKodu
    WHERE (@HiyerarsiSeviyesi IS NULL OR i.HiyerarsiSeviyesi = @HiyerarsiSeviyesi)
      AND (@AnaDalKodu IS NULL OR i.AnaDalKodu = @AnaDalKodu)
    ORDER BY i.HuvKodu
    OFFSET @Offset ROWS
    FETCH NEXT @SayfaBoyutu ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_IslemlerSutKodu]    Script Date: 17.02.2026 10:47:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_IslemlerSutKodu]
    @SutKodu NVARCHAR(100),
    @Sayfa INT = 1,
    @SayfaBoyutu INT = 50
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @Offset INT = (@Sayfa - 1) * @SayfaBoyutu;
    
    SELECT COUNT(*) as ToplamKayit
    FROM Islemler
    WHERE SutKodu LIKE '%' + @SutKodu + '%';
    
    SELECT 
        i.IslemID,
        i.HuvKodu,
        i.IslemAdi,
        i.Birim,
        i.SutKodu,
        a.BolumAdi
    FROM Islemler i
    INNER JOIN AnaDallar a ON i.AnaDalKodu = a.AnaDalKodu
    WHERE i.SutKodu LIKE '%' + @SutKodu + '%'
    ORDER BY i.HuvKodu
    OFFSET @Offset ROWS
    FETCH NEXT @SayfaBoyutu ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_IslemlerTariheGore]    Script Date: 17.02.2026 10:47:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_IslemlerTariheGore]
    @GunSayisi INT = 30,
    @AnaDalKodu INT = NULL,
    @Sayfa INT = 1,
    @SayfaBoyutu INT = 50
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @Offset INT = (@Sayfa - 1) * @SayfaBoyutu;
    DECLARE @BaslangicTarihi DATE = DATEADD(DAY, -@GunSayisi, GETDATE());
    
    SELECT COUNT(*) as ToplamKayit
    FROM Islemler i
    WHERE GuncellemeTarihiDate >= @BaslangicTarihi
      AND (@AnaDalKodu IS NULL OR AnaDalKodu = @AnaDalKodu);
    
    SELECT 
        i.IslemID,
        i.HuvKodu,
        i.IslemAdi,
        i.Birim,
        i.GuncellemeTarihi,
        i.GuncellemeTarihiDate,
        a.BolumAdi,
        DATEDIFF(DAY, i.GuncellemeTarihiDate, GETDATE()) as KacGunOnce
    FROM Islemler i
    INNER JOIN AnaDallar a ON i.AnaDalKodu = a.AnaDalKodu
    WHERE i.GuncellemeTarihiDate >= @BaslangicTarihi
      AND (@AnaDalKodu IS NULL OR i.AnaDalKodu = @AnaDalKodu)
    ORDER BY i.GuncellemeTarihiDate DESC
    OFFSET @Offset ROWS
    FETCH NEXT @SayfaBoyutu ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SutHiyerarsiGetir]    Script Date: 17.02.2026 10:47:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_SutHiyerarsiGetir]
    @AnaBaslikNo INT = NULL,
    @ParentID INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF @ParentID IS NOT NULL
    BEGIN
        -- Belirli bir parent'?n ?ocuklar?n? getir
        SELECT
            h.HiyerarsiID, h.ParentID, h.SeviyeNo, h.SeviyeAdi, h.Baslik as Adi, h.Sira,
            'HIYERARSI' as Tip, CAST(NULL AS NVARCHAR(50)) as SutKodu,
            CAST(NULL AS DECIMAL(18,2)) as Puan, CAST(NULL AS NVARCHAR(MAX)) as Aciklama,
            CAST(NULL AS INT) as IslemID,
            COUNT(DISTINCT s.SutID) as IslemSayisi,
            COUNT(DISTINCT h2.HiyerarsiID) as CocukSayisi
        FROM SutHiyerarsi h
        LEFT JOIN SutIslemler s ON s.HiyerarsiID = h.HiyerarsiID AND s.AktifMi = 1
        LEFT JOIN SutHiyerarsi h2 ON h2.ParentID = h.HiyerarsiID
        WHERE h.ParentID = @ParentID
        GROUP BY h.HiyerarsiID, h.ParentID, h.SeviyeNo, h.SeviyeAdi, h.Baslik, h.Sira

        UNION ALL

        SELECT
            s.SutID as HiyerarsiID, s.HiyerarsiID as ParentID, 4 as SeviyeNo, '??lem' as SeviyeAdi,
            s.IslemAdi as Adi, s.AnaBaslikNo as Sira, 'ISLEM' as Tip, s.SutKodu, s.Puan, s.Aciklama,
            s.SutID as IslemID, 0 as IslemSayisi, 0 as CocukSayisi
        FROM SutIslemler s
        WHERE s.HiyerarsiID = @ParentID AND s.AktifMi = 1

        ORDER BY Tip, Sira, HiyerarsiID;
    END
    ELSE IF @AnaBaslikNo IS NOT NULL
    BEGIN
        -- Ana ba?l???n HiyerarsiID'sini bul
        DECLARE @AnaBaslikHiyerarsiID INT;
        SELECT @AnaBaslikHiyerarsiID = HiyerarsiID 
        FROM SutAnaBasliklar 
        WHERE AnaBaslikNo = @AnaBaslikNo;

        WITH HiyerarsiCTE AS (
            SELECT
                h.HiyerarsiID, h.ParentID, h.SeviyeNo, h.SeviyeAdi, h.Baslik as Adi, h.Sira,
                0 as Derinlik, 'HIYERARSI' as Tip, CAST(NULL AS NVARCHAR(50)) as SutKodu,
                CAST(NULL AS DECIMAL(18,2)) as Puan, CAST(NULL AS NVARCHAR(MAX)) as Aciklama,
                CAST(NULL AS INT) as IslemID
            FROM SutHiyerarsi h
            WHERE h.HiyerarsiID = @AnaBaslikHiyerarsiID

            UNION ALL

            SELECT
                h.HiyerarsiID, h.ParentID, h.SeviyeNo, h.SeviyeAdi, h.Baslik as Adi, h.Sira,
                hc.Derinlik + 1, 'HIYERARSI' as Tip, CAST(NULL AS NVARCHAR(50)) as SutKodu,
                CAST(NULL AS DECIMAL(18,2)) as Puan, CAST(NULL AS NVARCHAR(MAX)) as Aciklama,
                CAST(NULL AS INT) as IslemID
            FROM SutHiyerarsi h
            INNER JOIN HiyerarsiCTE hc ON h.ParentID = hc.HiyerarsiID
        )
        SELECT
            hc.HiyerarsiID, hc.ParentID, hc.SeviyeNo, hc.SeviyeAdi, hc.Adi, hc.Sira, hc.Derinlik, hc.Tip,
            hc.SutKodu, hc.Puan, hc.Aciklama, hc.IslemID,
            COUNT(DISTINCT s.SutID) as IslemSayisi,
            COUNT(DISTINCT h2.HiyerarsiID) as CocukSayisi
        FROM HiyerarsiCTE hc
        LEFT JOIN SutIslemler s ON s.HiyerarsiID = hc.HiyerarsiID AND s.AktifMi = 1
        LEFT JOIN SutHiyerarsi h2 ON h2.ParentID = hc.HiyerarsiID
        GROUP BY hc.HiyerarsiID, hc.ParentID, hc.SeviyeNo, hc.SeviyeAdi, hc.Adi, hc.Sira, hc.Derinlik, hc.Tip, hc.SutKodu, hc.Puan, hc.Aciklama, hc.IslemID

        UNION ALL

        SELECT
            s.SutID as HiyerarsiID, s.HiyerarsiID as ParentID, 4 as SeviyeNo, '??lem' as SeviyeAdi,
            s.IslemAdi as Adi, s.AnaBaslikNo as Sira, 3 as Derinlik, 'ISLEM' as Tip, s.SutKodu, s.Puan, s.Aciklama,
            s.SutID as IslemID, 0 as IslemSayisi, 0 as CocukSayisi
        FROM SutIslemler s
        WHERE s.AnaBaslikNo = @AnaBaslikNo AND s.AktifMi = 1

        ORDER BY Derinlik, Sira, HiyerarsiID;
    END
    ELSE
    BEGIN
        SELECT
            h.HiyerarsiID, h.ParentID, h.SeviyeNo, h.SeviyeAdi, h.Baslik as Adi, h.Sira,
            0 as Derinlik, 'HIYERARSI' as Tip, CAST(NULL AS NVARCHAR(50)) as SutKodu,
            CAST(NULL AS DECIMAL(18,2)) as Puan, CAST(NULL AS NVARCHAR(MAX)) as Aciklama,
            CAST(NULL AS INT) as IslemID,
            COUNT(DISTINCT s.SutID) as IslemSayisi,
            COUNT(DISTINCT h2.HiyerarsiID) as CocukSayisi
        FROM SutHiyerarsi h
        LEFT JOIN SutIslemler s ON s.AnaBaslikNo = h.Sira AND s.AktifMi = 1
        LEFT JOIN SutHiyerarsi h2 ON h2.ParentID = h.HiyerarsiID
        WHERE h.SeviyeNo = 1
        GROUP BY h.HiyerarsiID, h.ParentID, h.SeviyeNo, h.SeviyeAdi, h.Baslik, h.Sira
        ORDER BY h.Sira;
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SutPuanDegisimRaporu]    Script Date: 17.02.2026 10:47:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[sp_SutPuanDegisimRaporu]
    @SutID INT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Parametre kontrolÃ¼
    IF @SutID IS NULL
    BEGIN
        RAISERROR('SutID parametresi gereklidir', 16, 1);
        RETURN;
    END
    
    -- Result Set 1: Ä°ÅŸlem Bilgisi
    SELECT 
        s.SutID,
        s.SutKodu,
        s.IslemAdi,
        s.Puan as GuncelPuan,
        s.Aciklama,
        s.AnaBaslikNo,
        s.AktifMi,
        s.OlusturmaTarihi,
        s.GuncellemeTarihi
    FROM SutIslemler s
    WHERE s.SutID = @SutID;
    
    -- Result Set 2: Versiyonlar (puan deÄŸiÅŸimi ile)
    -- DÃœZELTME: PARTITION BY ekle (gÃ¼venlik iÃ§in, zaten WHERE v.SutID = @SutID var)
    WITH VersionlarSirali AS (
        SELECT 
            v.SutVersionID,
            v.SutKodu,
            v.IslemAdi,
            v.Puan,
            v.Aciklama,
            v.GecerlilikBaslangic,
            v.GecerlilikBitis,
            v.DegisiklikSebebi,
            v.AktifMi,
            lv.DosyaAdi,
            lv.YukleyenKullanici,
            lv.YuklemeTarihi,
            -- Ã–nceki versiyonun puanÄ± - DÃœZELTME: PARTITION BY ekle
            LAG(v.Puan) OVER (PARTITION BY v.SutID ORDER BY v.GecerlilikBaslangic) as OncekiPuan,
            ROW_NUMBER() OVER (PARTITION BY v.SutID ORDER BY v.GecerlilikBaslangic DESC) as Sira
        FROM SutIslemVersionlar v
        LEFT JOIN ListeVersiyon lv ON v.ListeVersiyonID = lv.VersionID
        WHERE v.SutID = @SutID
    )
    SELECT 
        SutVersionID,
        SutKodu,
        IslemAdi,
        Puan,
        Aciklama,
        GecerlilikBaslangic,
        GecerlilikBitis,
        DegisiklikSebebi,
        AktifMi,
        DosyaAdi,
        YukleyenKullanici,
        YuklemeTarihi,
        -- Puan deÄŸiÅŸimi
        CASE 
            WHEN OncekiPuan IS NOT NULL THEN (Puan - OncekiPuan)
            ELSE NULL 
        END as PuanDegisimi,
        CASE 
            WHEN OncekiPuan IS NOT NULL AND OncekiPuan > 0 THEN 
                CAST(((Puan - OncekiPuan) / OncekiPuan * 100) AS DECIMAL(10,2))
            ELSE NULL 
        END as PuanDegisimYuzdesi,
        Sira
    FROM VersionlarSirali
    ORDER BY GecerlilikBaslangic DESC;
    
    -- Result Set 3: Ã–zet Ä°statistikler
    SELECT 
        COUNT(*) as ToplamVersionSayisi,
        MIN(v.Puan) as MinPuan,
        MAX(v.Puan) as MaxPuan,
        AVG(v.Puan) as OrtalamaPuan,
        (MAX(v.Puan) - MIN(v.Puan)) as ToplamPuanDegisimi,
        MIN(v.GecerlilikBaslangic) as IlkYuklemeTarihi,
        MAX(v.GecerlilikBaslangic) as SonGuncellemeTarihi,
        -- DeÄŸiÅŸiklik sayÄ±sÄ± (DeÄŸiÅŸiklik yok hariÃ§)
        SUM(CASE 
            WHEN v.DegisiklikSebebi IS NOT NULL 
             AND v.DegisiklikSebebi != 'DeÄŸiÅŸiklik yok' 
            THEN 1 ELSE 0 
        END) as GercekDegisiklikSayisi
    FROM SutIslemVersionlar v
    WHERE v.SutID = @SutID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SutTarihAraligindaDegiÅŸenler]    Script Date: 17.02.2026 10:47:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[sp_SutTarihAraligindaDegiÅŸenler]
    @BaslangicTarihi DATE,
    @BitisTarihi DATE,
    @AnaBaslikNo INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Parametre kontrolÃ¼
    IF @BaslangicTarihi IS NULL OR @BitisTarihi IS NULL
    BEGIN
        RAISERROR('BaÅŸlangÄ±Ã§ ve bitiÅŸ tarihleri gereklidir', 16, 1);
        RETURN;
    END
    
    IF @BaslangicTarihi > @BitisTarihi
    BEGIN
        RAISERROR('BaÅŸlangÄ±Ã§ tarihi bitiÅŸ tarihinden bÃ¼yÃ¼k olamaz', 16, 1);
        RETURN;
    END;
    
    -- Tarih aralÄ±ÄŸÄ±nda deÄŸiÅŸen SUT kodlarÄ±
    WITH VersionDegisiklikleri AS (
        SELECT 
            v.SutID,
            v.SutKodu,
            v.IslemAdi,
            v.AnaBaslikNo,
            COUNT(*) as DegisiklikSayisi,
            MIN(v.GecerlilikBaslangic) as IlkDegisiklik,
            MAX(v.GecerlilikBaslangic) as SonDegisiklik,
            -- Ä°lk ve son puan deÄŸerleri
            (SELECT TOP 1 Puan FROM SutIslemVersionlar 
             WHERE SutID = v.SutID 
               AND GecerlilikBaslangic >= @BaslangicTarihi
               AND GecerlilikBaslangic <= @BitisTarihi
             ORDER BY GecerlilikBaslangic ASC) as IlkPuan,
            (SELECT TOP 1 Puan FROM SutIslemVersionlar 
             WHERE SutID = v.SutID 
               AND GecerlilikBaslangic >= @BaslangicTarihi
               AND GecerlilikBaslangic <= @BitisTarihi
             ORDER BY GecerlilikBaslangic DESC) as SonPuan
        FROM SutIslemVersionlar v
        WHERE v.GecerlilikBaslangic >= @BaslangicTarihi
          AND v.GecerlilikBaslangic <= @BitisTarihi
          AND (@AnaBaslikNo IS NULL OR v.AnaBaslikNo = @AnaBaslikNo)
        GROUP BY v.SutID, v.SutKodu, v.IslemAdi, v.AnaBaslikNo
        HAVING COUNT(*) > 1  -- En az 2 versiyon olmalÄ± (deÄŸiÅŸim var)
    )
    SELECT 
        d.SutID,
        d.SutKodu,
        d.IslemAdi,
        d.AnaBaslikNo,
        d.DegisiklikSayisi,
        d.IlkDegisiklik,
        d.SonDegisiklik,
        d.IlkPuan as EskiPuan,
        d.SonPuan as YeniPuan,
        (d.SonPuan - d.IlkPuan) as PuanDegisimi,
        CASE 
            WHEN d.IlkPuan > 0 THEN 
                CAST(((d.SonPuan - d.IlkPuan) / d.IlkPuan * 100) AS DECIMAL(10,2))
            ELSE NULL 
        END as PuanDegisimYuzdesi,
        -- DeÄŸiÅŸiklik tiplerini topla
        STUFF((
            SELECT DISTINCT ', ' + DegisiklikSebebi
            FROM SutIslemVersionlar v2
            WHERE v2.SutID = d.SutID
              AND v2.GecerlilikBaslangic >= @BaslangicTarihi
              AND v2.GecerlilikBaslangic <= @BitisTarihi
              AND v2.DegisiklikSebebi IS NOT NULL
              AND v2.DegisiklikSebebi != 'DeÄŸiÅŸiklik yok'
            FOR XML PATH('')
        ), 1, 2, '') as DegisiklikTipleri,
        s.AktifMi
    FROM VersionDegisiklikleri d
    LEFT JOIN SutIslemler s ON d.SutID = s.SutID
    ORDER BY d.DegisiklikSayisi DESC, ABS(d.SonPuan - d.IlkPuan) DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SutTarihAraligindaDegis]    Script Date: 17.02.2026 10:47:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[sp_SutTarihAraligindaDegis]
    @BaslangicTarihi DATE,
    @BitisTarihi DATE,
    @AnaBaslikNo INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    -- DÃœZELTME: AralÄ±k kontrolÃ¼nÃ¼ geniÅŸlet
    -- AralÄ±k iÃ§inde baÅŸlayan VEYA aralÄ±k iÃ§inde biten VEYA aralÄ±ÄŸÄ± kapsayan deÄŸiÅŸiklikler
    WITH PuanDegisiklikleri AS (
        SELECT 
            v.SutID,
            v.SutKodu,
            v.IslemAdi,
            v.AnaBaslikNo,
            v.Puan,
            v.GecerlilikBaslangic,
            v.DegisiklikSebebi,
            LAG(v.Puan) OVER (PARTITION BY v.SutID ORDER BY v.GecerlilikBaslangic) as OncekiPuan,
            ROW_NUMBER() OVER (PARTITION BY v.SutID ORDER BY v.GecerlilikBaslangic) as Sira
        FROM SutIslemVersionlar v
        WHERE (
            -- AralÄ±k iÃ§inde baÅŸlayan
            (CONVERT(DATE, v.GecerlilikBaslangic) >= @BaslangicTarihi 
             AND CONVERT(DATE, v.GecerlilikBaslangic) <= @BitisTarihi)
            OR
            -- AralÄ±k dÄ±ÅŸÄ±nda baÅŸlayan ama aralÄ±k iÃ§inde biten
            (CONVERT(DATE, v.GecerlilikBaslangic) < @BaslangicTarihi 
             AND (v.GecerlilikBitis IS NULL OR CONVERT(DATE, v.GecerlilikBitis) >= @BaslangicTarihi))
            OR
            -- AralÄ±k iÃ§inde baÅŸlayan ama aralÄ±k dÄ±ÅŸÄ±nda biten
            (CONVERT(DATE, v.GecerlilikBaslangic) <= @BitisTarihi 
             AND v.GecerlilikBitis IS NOT NULL 
             AND CONVERT(DATE, v.GecerlilikBitis) > @BitisTarihi)
            OR
            -- AralÄ±ÄŸÄ± tamamen kapsayan
            (CONVERT(DATE, v.GecerlilikBaslangic) < @BaslangicTarihi 
             AND v.GecerlilikBitis IS NOT NULL 
             AND CONVERT(DATE, v.GecerlilikBitis) > @BitisTarihi)
        )
        AND (@AnaBaslikNo IS NULL OR v.AnaBaslikNo = @AnaBaslikNo)
    ),
    GercekDegisiklikler AS (
        SELECT 
            SutID,
            SutKodu,
            IslemAdi,
            AnaBaslikNo,
            COUNT(*) as DegisiklikSayisi,
            MIN(GecerlilikBaslangic) as IlkDegisiklik,
            MAX(GecerlilikBaslangic) as SonDegisiklik,
            MIN(CASE WHEN OncekiPuan IS NOT NULL AND Puan != OncekiPuan THEN OncekiPuan ELSE Puan END) as IlkPuan,
            MAX(Puan) as SonPuan
        FROM PuanDegisiklikleri
        WHERE OncekiPuan IS NULL OR Puan != OncekiPuan
        GROUP BY SutID, SutKodu, IslemAdi, AnaBaslikNo
        HAVING COUNT(*) > 1 OR MAX(Puan) != MIN(CASE WHEN OncekiPuan IS NOT NULL THEN OncekiPuan ELSE Puan END)
    )
    SELECT 
        d.SutID,
        d.SutKodu,
        d.IslemAdi,
        d.AnaBaslikNo,
        d.DegisiklikSayisi,
        d.IlkDegisiklik,
        d.SonDegisiklik,
        d.IlkPuan as EskiPuan,
        d.SonPuan as YeniPuan,
        (d.SonPuan - d.IlkPuan) as PuanDegisimi,
        CASE 
            WHEN d.IlkPuan > 0 THEN 
                CAST(((d.SonPuan - d.IlkPuan) / d.IlkPuan * 100) AS DECIMAL(10,2))
            ELSE NULL 
        END as PuanDegisimYuzdesi,
        s.AktifMi
    FROM GercekDegisiklikler d
    LEFT JOIN SutIslemler s ON d.SutID = s.SutID
    WHERE ABS(d.SonPuan - d.IlkPuan) > 0.01
    ORDER BY ABS(d.SonPuan - d.IlkPuan) DESC, d.DegisiklikSayisi DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SutTarihtekiPuan]    Script Date: 17.02.2026 10:47:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[sp_SutTarihtekiPuan]
    @SutKodu NVARCHAR(50) = NULL,
    @SutID INT = NULL,
    @Tarih DATE
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Parametre kontrolÃ¼
    IF @SutKodu IS NULL AND @SutID IS NULL
    BEGIN
        RAISERROR('SutKodu veya SutID parametresi gereklidir', 16, 1);
        RETURN;
    END
    
    IF @Tarih IS NULL
    BEGIN
        RAISERROR('Tarih parametresi gereklidir', 16, 1);
        RETURN;
    END
    
    -- Gelecek tarih kontrolÃ¼
    IF @Tarih > CAST(GETDATE() AS DATE)
    BEGIN
        RAISERROR('Gelecek tarih iÃ§in sorgu yapÄ±lamaz', 16, 1);
        RETURN;
    END
    
    -- Tarihsel puan sorgula
    -- DÃœZELTME: CAST ile DATE karÅŸÄ±laÅŸtÄ±rmasÄ± (zaman dilimi sorunlarÄ±nÄ± Ã¶nler)
    -- Ã–NEMLÄ°: GecerlilikBaslangic DATETIME olabilir, sadece tarih kÄ±smÄ±nÄ± karÅŸÄ±laÅŸtÄ±r
    SELECT TOP 1
        v.SutID,
        v.SutKodu,
        v.IslemAdi,
        v.Puan,
        v.Aciklama,
        v.AnaBaslikNo,
        v.HiyerarsiID,
        v.GecerlilikBaslangic,
        v.GecerlilikBitis,
        v.ListeVersiyonID,
        lv.DosyaAdi,
        lv.YuklemeTarihi,
        v.DegisiklikSebebi,
        v.AktifMi
    FROM SutIslemVersionlar v
    LEFT JOIN ListeVersiyon lv ON v.ListeVersiyonID = lv.VersionID
    WHERE (@SutKodu IS NULL OR v.SutKodu = @SutKodu)
      AND (@SutID IS NULL OR v.SutID = @SutID)
      -- DÃœZELTME: CONVERT ile sadece tarih kÄ±smÄ±nÄ± karÅŸÄ±laÅŸtÄ±r (saat bilgisini gÃ¶z ardÄ± et)
      AND CONVERT(DATE, v.GecerlilikBaslangic) <= CONVERT(DATE, @Tarih)
      AND (v.GecerlilikBitis IS NULL OR CONVERT(DATE, v.GecerlilikBitis) >= CONVERT(DATE, @Tarih))
    ORDER BY v.GecerlilikBaslangic DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SutVersiyonKarsilastir]    Script Date: 17.02.2026 10:47:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[sp_SutVersiyonKarsilastir]
    @EskiVersiyonID INT,
    @YeniVersiyonID INT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Parametre kontrolÃ¼
    IF @EskiVersiyonID IS NULL OR @YeniVersiyonID IS NULL
    BEGIN
        RAISERROR('Eski ve yeni versiyon ID''leri gereklidir', 16, 1);
        RETURN;
    END
    
    IF @EskiVersiyonID = @YeniVersiyonID
    BEGIN
        RAISERROR('Eski ve yeni versiyon aynÄ± olamaz', 16, 1);
        RETURN;
    END
    
    -- Versiyon bilgileri
    DECLARE @EskiDosyaAdi NVARCHAR(255);
    DECLARE @YeniDosyaAdi NVARCHAR(255);
    DECLARE @EskiTarih DATE;
    DECLARE @YeniTarih DATE;
    
    SELECT @EskiDosyaAdi = DosyaAdi, @EskiTarih = YuklemeTarihi
    FROM ListeVersiyon
    WHERE VersionID = @EskiVersiyonID AND ListeTipi = 'SUT';
    
    SELECT @YeniDosyaAdi = DosyaAdi, @YeniTarih = YuklemeTarihi
    FROM ListeVersiyon
    WHERE VersionID = @YeniVersiyonID AND ListeTipi = 'SUT';
    
    IF @EskiDosyaAdi IS NULL OR @YeniDosyaAdi IS NULL
    BEGIN
        RAISERROR('Belirtilen versiyon ID''leri bulunamadÄ± veya SUT tipinde deÄŸil', 16, 1);
        RETURN;
    END;
    
    -- KarÅŸÄ±laÅŸtÄ±rma
    WITH EskiVersiyon AS (
        SELECT 
            SutID, SutKodu, IslemAdi, Puan, Aciklama, AnaBaslikNo, HiyerarsiID
        FROM SutIslemVersionlar
        WHERE ListeVersiyonID = @EskiVersiyonID
          AND AktifMi = 1
    ),
    YeniVersiyon AS (
        SELECT 
            SutID, SutKodu, IslemAdi, Puan, Aciklama, AnaBaslikNo, HiyerarsiID
        FROM SutIslemVersionlar
        WHERE ListeVersiyonID = @YeniVersiyonID
          AND AktifMi = 1
    )
    SELECT 
        COALESCE(e.SutKodu, y.SutKodu) as SutKodu,
        COALESCE(e.IslemAdi, y.IslemAdi) as IslemAdi,
        CASE 
            WHEN e.SutKodu IS NULL THEN 'ADDED'
            WHEN y.SutKodu IS NULL THEN 'DELETED'
            ELSE 'UPDATED'
        END as DegisiklikTipi,
        e.Puan as EskiPuan,
        y.Puan as YeniPuan,
        CASE 
            WHEN e.Puan IS NOT NULL AND y.Puan IS NOT NULL 
            THEN (y.Puan - e.Puan)
            ELSE NULL 
        END as PuanFarki,
        CASE 
            WHEN e.Puan IS NOT NULL AND y.Puan IS NOT NULL AND e.Puan > 0
            THEN CAST(((y.Puan - e.Puan) / e.Puan * 100) AS DECIMAL(10,2))
            ELSE NULL 
        END as PuanFarkiYuzdesi,
        e.IslemAdi as EskiIslemAdi,
        y.IslemAdi as YeniIslemAdi,
        CASE 
            WHEN e.IslemAdi IS NOT NULL AND y.IslemAdi IS NOT NULL AND e.IslemAdi != y.IslemAdi THEN 1 
            ELSE 0 
        END as IslemAdiDegisti,
        e.AnaBaslikNo as EskiAnaBaslikNo,
        y.AnaBaslikNo as YeniAnaBaslikNo,
        CASE 
            WHEN e.AnaBaslikNo IS NOT NULL AND y.AnaBaslikNo IS NOT NULL AND e.AnaBaslikNo != y.AnaBaslikNo THEN 1 
            ELSE 0 
        END as AnaBaslikDegisti,
        @EskiDosyaAdi as EskiDosyaAdi,
        @YeniDosyaAdi as YeniDosyaAdi,
        @EskiTarih as EskiTarih,
        @YeniTarih as YeniTarih
    FROM EskiVersiyon e
    FULL OUTER JOIN YeniVersiyon y ON e.SutKodu = y.SutKodu
    WHERE 
        -- Sadece deÄŸiÅŸenleri gÃ¶ster
        e.SutKodu IS NULL  -- Yeni eklenen
        OR y.SutKodu IS NULL  -- Silinen
        OR (e.Puan IS NOT NULL AND y.Puan IS NOT NULL AND e.Puan != y.Puan)  -- Puan deÄŸiÅŸen
        OR (e.IslemAdi IS NOT NULL AND y.IslemAdi IS NOT NULL AND e.IslemAdi != y.IslemAdi)  -- Ä°ÅŸlem adÄ± deÄŸiÅŸen
        OR (e.AnaBaslikNo IS NOT NULL AND y.AnaBaslikNo IS NOT NULL AND e.AnaBaslikNo != y.AnaBaslikNo)  -- Ana baÅŸlÄ±k deÄŸiÅŸen
    ORDER BY 
        CASE 
            WHEN e.SutKodu IS NULL THEN 1  -- ADDED
            WHEN y.SutKodu IS NULL THEN 3  -- DELETED
            ELSE 2  -- UPDATED
        END,
        COALESCE(e.SutKodu, y.SutKodu);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TarihAraligindaDegiÅŸenler]    Script Date: 17.02.2026 10:47:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

-- Yeni SP'yi oluÅŸtur
CREATE PROCEDURE [dbo].[sp_TarihAraligindaDegiÅŸenler]
    @BaslangicTarihi DATE,
    @BitisTarihi DATE,
    @AnaDalKodu INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Ä°lk versiyon tarihini bul (ilk import tarihi)
    DECLARE @IlkVersiyonTarihi DATE;
    SELECT @IlkVersiyonTarihi = MIN(YuklemeTarihi) FROM ListeVersiyon WHERE ListeTipi = 'HUV';
    
    SELECT 
        i.HuvKodu,
        i.IslemAdi,
        v.Birim,
        v.GecerlilikBaslangic,
        v.GecerlilikBitis,
        a.BolumAdi,
        v.DegisiklikSebebi
    FROM IslemVersionlar v
    INNER JOIN HuvIslemler i ON v.IslemID = i.IslemID
    LEFT JOIN AnaDallar a ON i.AnaDalKodu = a.AnaDalKodu
    WHERE v.GecerlilikBaslangic BETWEEN @BaslangicTarihi AND @BitisTarihi
      AND (@AnaDalKodu IS NULL OR i.AnaDalKodu = @AnaDalKodu)
      -- Sadece deÄŸiÅŸen kayÄ±tlarÄ± dÃ¶ndÃ¼r
      AND v.DegisiklikSebebi != 'DeÄŸiÅŸiklik yok'
      -- Ä°lk import'taki "Yeni iÅŸlem eklendi" kayÄ±tlarÄ±nÄ± hariÃ§ tut
      AND NOT (v.GecerlilikBaslangic = @IlkVersiyonTarihi AND v.DegisiklikSebebi = 'Yeni iÅŸlem eklendi')
    ORDER BY v.GecerlilikBaslangic DESC, i.HuvKodu;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TarihAraligindaDegişenler]    Script Date: 17.02.2026 10:47:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TarihAraligindaDegişenler]
    @BaslangicTarihi DATE,
    @BitisTarihi DATE,
    @AnaDalKodu INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    IF @BaslangicTarihi IS NULL OR @BitisTarihi IS NULL
    BEGIN
        RAISERROR('BaslangicTarihi ve BitisTarihi parametreleri gereklidir', 16, 1);
        RETURN;
    END
    
    IF @BaslangicTarihi > @BitisTarihi
    BEGIN
        RAISERROR('BaslangicTarihi BitisTarihi''den büyük olamaz', 16, 1);
        RETURN;
    END
    
    -- Değişiklikleri bul
    ;WITH PuanDegisiklikleri AS (
        SELECT 
            v.IslemID,
            v.HuvKodu,
            v.IslemAdi,
            v.Birim,
            v.GecerlilikBaslangic,
            v.GecerlilikBitis,
            v.DegisiklikSebebi,
            i.AnaDalKodu,
            a.BolumAdi,
            -- Önceki versiyonu bul
            LAG(v.Birim) OVER (PARTITION BY v.IslemID ORDER BY v.GecerlilikBaslangic) as OncekiBirim,
            LAG(v.GecerlilikBaslangic) OVER (PARTITION BY v.IslemID ORDER BY v.GecerlilikBaslangic) as OncekiBaslangic
        FROM IslemVersionlar v
        LEFT JOIN HuvIslemler i ON v.IslemID = i.IslemID
        LEFT JOIN AnaDallar a ON i.AnaDalKodu = a.AnaDalKodu
        WHERE (
            -- Aralık içinde başlayan
            (CAST(v.GecerlilikBaslangic AS DATE) >= CAST(@BaslangicTarihi AS DATE) 
             AND CAST(v.GecerlilikBaslangic AS DATE) <= CAST(@BitisTarihi AS DATE))
            OR
            -- Aralık içinde biten
            (v.GecerlilikBitis IS NOT NULL 
             AND CAST(v.GecerlilikBitis AS DATE) >= CAST(@BaslangicTarihi AS DATE) 
             AND CAST(v.GecerlilikBitis AS DATE) <= CAST(@BitisTarihi AS DATE))
            OR
            -- Aralığı kapsayan (başlangıç önce, bitiş sonra)
            (CAST(v.GecerlilikBaslangic AS DATE) < CAST(@BaslangicTarihi AS DATE) 
             AND (v.GecerlilikBitis IS NULL OR CAST(v.GecerlilikBitis AS DATE) > CAST(@BitisTarihi AS DATE)))
        )
        AND (@AnaDalKodu IS NULL OR i.AnaDalKodu = @AnaDalKodu)
    ),
    GercekDegisiklikler AS (
        SELECT 
            IslemID,
            HuvKodu,
            IslemAdi,
            Birim as YeniBirim,
            OncekiBirim as EskiBirim,
            Birim - ISNULL(OncekiBirim, 0) as Fark,
            CASE 
                WHEN OncekiBirim IS NULL THEN NULL
                WHEN OncekiBirim = 0 THEN NULL
                ELSE ((Birim - OncekiBirim) / OncekiBirim) * 100
            END as DegisimYuzdesi,
            GecerlilikBaslangic as DegisiklikTarihi,
            AnaDalKodu,
            BolumAdi
        FROM PuanDegisiklikleri
        WHERE OncekiBirim IS NOT NULL 
          AND ABS(Birim - ISNULL(OncekiBirim, 0)) > 0.01  -- En az 0.01 TL fark
    )
    SELECT 
        HuvKodu,
        IslemAdi,
        EskiBirim,
        YeniBirim,
        Fark,
        DegisimYuzdesi,
        DegisiklikTarihi,
        BolumAdi
    FROM GercekDegisiklikler
    ORDER BY DegisiklikTarihi DESC, HuvKodu;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TarihtekiFiyat]    Script Date: 17.02.2026 10:47:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TarihtekiFiyat]
    @HuvKodu FLOAT = NULL,
    @IslemID INT = NULL,
    @Tarih DATE
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Parametre kontrolü
    IF @HuvKodu IS NULL AND @IslemID IS NULL
    BEGIN
        RAISERROR('HuvKodu veya IslemID parametresi gereklidir', 16, 1);
        RETURN;
    END
    
    IF @Tarih IS NULL
    BEGIN
        RAISERROR('Tarih parametresi gereklidir', 16, 1);
        RETURN;
    END
    
    IF @Tarih > CAST(GETDATE() AS DATE)
    BEGIN
        RAISERROR('Gelecek tarih için sorgu yapılamaz', 16, 1);
        RETURN;
    END
    
    -- En son geçerli versiyonu al
    SELECT TOP 1
        v.IslemID,
        v.HuvKodu,
        v.IslemAdi,
        v.Birim,
        v.SutKodu,
        v.[Not],
        v.GecerlilikBaslangic,
        v.GecerlilikBitis,
        v.ListeVersiyonID,
        lv.DosyaAdi,
        lv.YuklemeTarihi,
        v.DegisiklikSebebi,
        v.AktifMi,
        i.AnaDalKodu,
        a.BolumAdi
    FROM IslemVersionlar v
    LEFT JOIN ListeVersiyon lv ON v.ListeVersiyonID = lv.VersionID
    LEFT JOIN HuvIslemler i ON v.IslemID = i.IslemID
    LEFT JOIN AnaDallar a ON i.AnaDalKodu = a.AnaDalKodu
    WHERE (@HuvKodu IS NULL OR v.HuvKodu = @HuvKodu)
      AND (@IslemID IS NULL OR v.IslemID = @IslemID)
      AND CAST(v.GecerlilikBaslangic AS DATE) <= CAST(@Tarih AS DATE)
      AND (v.GecerlilikBitis IS NULL OR CAST(v.GecerlilikBitis AS DATE) >= CAST(@Tarih AS DATE))
    ORDER BY v.GecerlilikBaslangic DESC;
END
GO
USE [master]
GO
